.upload-progress {
    font-size:12px; font-family:sans-serif;
    padding:14px;
    border:1px solid #C3E1F0;
    background-color:#F2F8FD;
    position:fixed;
    margin-left:-100px;
    margin-top:-80px;
    left:50%;
    top:50%;
    border-radius:5px;
    z-index:9999;
    text-align:center;
    display:none;
    _position:absolute;
    _top:expression(documentElement.scrollTop+documentElement.clientHeight/2);
}
.upload-progress .inner {
    width:168px;height:28px;
    border:1px solid #ccc;
    background:#fff;text-align:left;position:relative;overflow: hidden;
}
.upload-progress .inner .percent-text {
    position:absolute; top:0; left:40px;
    width:80px;
    height:28px;
    line-height:28px;text-align:center;
    font-size:14px;
    font-weight:bold; color:#f60;
}
.upload-progress .inner .percent-bg {
    background-color:#DDEEF1;
    height:28px;width:0px;
    border-right:1px solid #9FCCE9;
}